.ant-picker-cell {
  //   height: 180px !important; /* hoặc giá trị bạn muốn */
}

.ant-picker-cell {
  border: 1px solid #eaf2e7;
}
.ant-picker-cell-inner {
  border-top: none !important;
  margin: 4px 4px 4px 4px !important;
  &:hover {
    opacity: 0.8;
  }
}
.ant-picker-cell-inner:has(.profit) {
  // padding: 4px !important;
  background: #ddf1e7 !important;
  border: 1px solid #b3cdc1 !important;
  border-top: 1px solid #b3cdc1 !important;
}
.ant-picker-cell-inner:has(.loss) {
  background: #fad3d3 !important;
  border: 1px solid #f0c8c7 !important;
  border-top: 1px solid #f0c8c7 !important;
}

.ant-picker-calendar-date-content {
  height: 90px !important;
}

.ant-picker-cell-inner:has(.profit) {
  // padding: 4px !important;
  background: #ddf1e7 !important;
  border: 1px solid #b3cdc1 !important;
  border-top: 1px solid #b3cdc1 !important;
}
.ant-picker-cell-inner:has(.loss) {
  background: #fad3d3 !important;
  border: 1px solid #f0c8c7 !important;
  border-top: 1px solid #f0c8c7 !important;
}

.recent-session {
  width: 100%;
  margin-top: 1rem;
  .ant-card-body {
    padding: 12px 24px;
  }
  .ant-tabs-tab {
    padding: 8px;
  }
  .ant-tabs-tab-btn {
    font-size: 16px;
    font-weight: 600;
  }
  .table-trades {
    width: 100%;
  }
}

.recent-session-dark {
  .ant-card {
    background: #5f5cf0 !important;
  }
  .ant-tabs-tab {
    color: white !important;
  }
  .ant-tabs-tab-active {
    border-bottom: #5f5cf0 !important;
    // border-bottom: #3169d9 !important;
  }
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    // color: rgb(124, 109, 239) !important;
    color: rgb(74, 114, 225) !important;
  }
}

.dark-table {
  .ant-table {
    border: 1px solid white !important;

    background: #34516b !important;
    color: white !important;
  }
  .ant-table-header .ant-table-thead {
    th {
      background: #5f5cf0 !important;
      color: white;
      font-weight: bold;
    }
  }
  .ant-table-tbody > tr.ant-table-row:hover > td {
    background: #6e8ca7 !important;
  }

  .ant-table-placeholder {
    background-color: unset !important;
    .ant-empty-description {
      color: white !important;
    }
  }
}

.btn-submit-session {
  height: 3rem;
  background: #4b9ee6;
  &:hover {
    opacity: 0.9;
  }
}
