/* Chấm xanh dương - có todo chưa hoàn thành */
.day-profit {
  position: relative;
}

.day-profit::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 47%;
  width: 6px;
  height: 6px;
  background-color: #3ecd42; /* blue-600 */
  border-radius: 50%;
  transform: translateX(-50%);
}

/* Chấm xanh lá - có todo hoàn thành */
.day-loss {
  position: relative;
}

.day-loss::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 47%;
  width: 6px;
  height: 6px;
  background-color: #b43f5a; /* green-600 */
  border-radius: 50%;
  transform: translateX(-50%);
}

/* Hai chấm nhỏ khi có cả done & pending */
// .day-has-both {
//   position: relative;
// }

// .day-has-both::before,
// .day-has-both::after {
//   content: '';
//   position: absolute;
//   bottom: 6px;
//   width: 6px;
//   height: 6px;
//   border-radius: 50%;
// }

// .day-has-both::before {
//   left: calc(50% - 9px);
//   background-color: #2563eb; /* blue */
// }

// .day-has-both::after {
//   left: calc(50% + 3px);
//   background-color: #16a34a; /* green */
// }
