.day-profit {
  position: relative;
}

.day-profit::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 47%;
  width: 6px;
  height: 6px;
  background-color: #3ecd42;
  border-radius: 50%;
  transform: translateX(-50%);
}

.day-loss {
  position: relative;
}

.day-loss::after {
  content: '';
  position: absolute;
  bottom: 6px;
  left: 47%;
  width: 6px;
  height: 6px;
  background-color: #b43f5a;
  border-radius: 50%;
  transform: translateX(-50%);
}

.date-time {
  .rdtPicker {
    color: #333;
  }
}
.close-time {
  .rdtPicker {
    transform: translateX(-5rem);
  }
}

.ant-rate-star-zero {
  margin-top: 0.3rem;
}

.rating-dark {
  .ant-rate-star-zero {
    svg {
      fill: #4c535a;
    }
  }
}
